.image-carousel-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: calc(90% / 3) !important;
}

.card-img {
  max-width: 321px;
  max-height: 400px;
  transition: transform 0.3s ease;
}

.image-carousel-item h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.image-carousel-item p {
  font-size: 1rem;
  margin-top: 10px;
}
