.header-section-carousel {
  overflow: hidden;
  position: relative;
  min-height: 150vh;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-item img {
  height: 96.5vh;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: relative;
  bottom: 470px;
  left: 59.71%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: start;
  width: 100%;
  font-size: 0.9rem;
  line-height: 5;
}

.caption-Header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 600px;
  font-size: 3.8rem;
  word-spacing: 0.19rem;
  line-height: 0.9;
  gap: 10px;
}

.image-container {
  border: 1px solid #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

.image-count-down span {
  position: absolute;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.Slide-Counter {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 5px;
  color: #ffffff;
  min-width: 100px;
  width: 170px;
}

hr {
  border: 0.4px solid #ffffff;
  border-radius: 50%;
  margin: 0 10px;
  width: 100%;
}

.slider-counter-group {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  bottom: 700px;
  left: 140px;
  gap: 29px;
}

.image-count-down {
  border: 1px solid #ffffff;
  padding: 18px;
  height: 137px;
  width: 137px;
}

@media (max-width: 600px) {
  .carousel-item img {
    height: 82vh;
    width: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    bottom: 490px;
    left: 56%;
  }

  .caption-Header {
    font-size: 2.8rem;
    word-spacing: 0.15rem;
    line-height: 1.05;
  }

  .slider-counter-group {
    gap: 30px;
    position: relative;
    bottom: 790px;
    left: 23px;
  }

  .image-count-down {
    height: 114px;
    width: 114px;
  }
}
