@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Overpass&family=Roboto+Condensed:wght@300&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", system-ui;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media screen and (max-width: 600px) {
  .sub-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 200px;
  }
}
